body{
    padding:0;
    margin:0;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

.clearfix:after,
.clearfix:before{
    content:" ";
    clear:both;
    display:block;
}

.navbar{
    background:orangered;
}

.navbar-item{
    display:inline-block;
    line-height: 2.0;
}

.brand{
    font-size:25px;
    font-weight: bold;
    padding-left:15px;
}

.container{
    width: 800px;
    font-size:40px;
    margin:0 auto;
}
.container input{
    height:40px;
}
[ui-sref] {
    cursor: pointer;
}